@import url('https://fonts.google.com/specimen/Muli');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
	font-family: 'Muli', serif;
}
h2 {
	text-align: center;
}

#about {
	color: purple;
}

.top-nav {
	display: flex;
	background: #000;
	min-height: 50px;
	overflow: hidden;
	align-items: center;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
}

.top-nav a {
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #000;
	transition: .5s;
}

.top-nav a:hover {
	border-bottom: 3px solid #047DBF;

}

.top-nav .brand-text {
	font-size: 30px;
	color: orange;
	margin-left: 15px;
}

.top-nav-list {
	list-style: none;
	display: flex;
	margin-left: auto;
}

.top-nav-list li {
	margin: 0px 15px;
}

.top-nav-list a {
	padding: 8px;
}

.full-screen-bg {
	height: calc(100vh - 50px);
	width: 100%;
	background-image: url("../images/largepitbull.jpeg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #DABFFF;
	transition: background-image .5s;
}

.flex-row {
	display: flex;
}

.col-4-2-1 {
	width: 23%;
	margin: 1%;
	padding: 10px;
}

@media (max-width: 1200px) {
	.full-screen-bg {
		background-image: url("../images/middlepitbull.jpeg");
	}
	.flex-row {
		flex-wrap: wrap;
	}
	.col-4-2-1 {
		width: 48%;
	}
}

@media (max-width: 600px) {
		.top-nav {
			display: block;
			padding: 10px 0px;
		}
	.full-screen-bg {
		background-image: url("../images/smallkingcharles.jpeg");
	}
	.col-4-2-1 {
		width: 98%;
	}
}

.col-4-2-1 img {

}